body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
    font-family: 'Courier New', Courier, monospace
}

#game-screen {
    background-color: black;
    position: relative;
}

body button {
    font-size: 60px;
    background-color: black;
    border-color: white;
    padding: 20px;
    border-radius: 100px;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

body h1 {
    padding: 100px;
}

body p {
    padding: 40px;
}